:root {
  /* Colours */
  --dark-blue: hsl(205, 90%, 15%);
  --light-blue: hsl(200, 90%, 80%);
  --red: hsl(0, 80%, 50%);
  --white: #fff;

  font-family: system-ui, sans-serif;
  font-size: 1rem;
}

body {
  background: var(--body-background, var(--light-blue));
  color: var(--body-color, var(--dark-blue));
  min-height: 100vh;
  padding-block: 5rem;
}

/* Typography */
/* Font size is base in minor third scale. */
h1 {
  font-size: 2.986rem;
}

h2 {
  font-size: 2.448rem;
}

h3 {
  font-size: 2.074rem;
}

h4 {
  font-size: 1.728rem;
}

h5 {
  font-size: 1.44rem;
}

h6 {
  font-size: 1.2rem;
}

small {
  font-size: 0.833rem;
}

/* Links */
a {
  color: var(--link-color);

  &:hover {
    text-decoration-color: var(--link-hover-text-decoration-color, var(--red));
  }
}

/* Card group styles */
.card-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
  grid-auto-rows: auto;
  gap: 1rem;
}

/* Card styles */
.card {
  --link-color: var(--white);

  border-radius: var(--card-border-radius, 0.75rem);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  position: relative;
  background: var(--card-background, var(--dark-blue));
  color: var(--card-color, var(--light-blue));
  overflow: hidden;
  transition: transform 200ms ease-in-out;
  isolation: isolate;

  &:hover {
    transform: scale(1.0125);
  }
}


.card-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

.card-title a::after {
  display: block;
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
}

.card-image {
  position: relative;

  &::after {
    display: block;
    content: "";
    width: 100%;
    height: 0;
    padding-top: calc(100% / 3 * 2);
  }

  img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    object-fit: cover;
  }
}

.card-footer {
  padding: calc((100% / 3 * 2) - 2.25rem) 1rem 1rem;
  display: flex;
  position: absolute;
  place-items: flex-end;
  align-items: flex-end;
  justify-content: flex-end;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;

  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0;

    li {
      border-radius: calc(var(--card-border-radius, 0.75rem) / 2);
      background: var(--card-tag-background, var(--red));
      color: var(--card-tag-color, var(--white));
      padding: 0.25rem 0.5rem;
      line-height: 1;
      font-weight: bold;
    }
  }
}

/* Horizontal card styles. */
@media screen and (width > 630px) {
  .card.horizontal {
    grid-column: span 2;
    display: flex;

    .card-image {
      height: 100%;
      width: 100%;

      img {
        height: 100%;
      }
    }

    .card-footer {
      padding: 1rem;
      top: 0;
      right: auto;
      bottom: 0;
      left: 0;
    }
  }
}
